# use .env later
services:
    novadoom:
        container_name: novadoom
        image: "docker.io/novadoom/novadoom-server:testing"
        restart: unless-stopped
        network_mode: host
        volumes:
            - doomIWADS:/wads
            - doomWADS:/other_wads
            - ./configs:/configs:ro
            - novahome:/home/doomguy/.novadoom
        command: >
            -iwad /wads/DOOM2.WAD
            -waddir /other_wads
            +exec /configs/config.cfg

volumes:
    doomIWADS:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: "${DOOM_BASE}/IWADS"
    doomWADS:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: "${DOOM_BASE}/WADS"
    novahome:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: "./novahome"
