[Desktop Entry]
# this is the desktop entry spec version NOT the odamex version
Version=1.5
Type=Application

Name=Odamex
Comment=A DOOM source port with online multiplayer, a 32-bit renderer, and much more.
Categories=Amusement;Game;ActionGame;AdventureGame;ArcadeGame;

Icon=net.odamex.Odamex.Client
Exec=odamex %u
MimeType=x-scheme-handler/odamex
Terminal=false
StartupWMClass=odamex
