[Desktop Entry]
Version=1.5 # this is the freedesktop spec version NOT the odamex version
Type=Application

Name=Odalaunch
Comment=A server browser to find and play DOOM games online!
Categories=Amusement;Game;ActionGame;AdventureGame;ArcadeGame;

Icon=net.odamex.Odamex.Launcher
Exec=odalaunch
Terminal=false
StartupWMClass=odalaunch
